@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.style-table {
    display: flex;
    justify-content: center;
    font: 'Muli', sans-serif;
    font-size: large;
}

.style-table th {
    background-color: #5161ce;
    color: #ffffff;
}

.style-table td,
th {
    padding: 12px 15px;
}

.style-table tr {
    border-bottom: 1px solid #dddddd;
}

.style-table tr:nth-of-type(even) {
    background-color: #e2e0e0;
}


.academics-image {
    display: flex;
    justify-content: center;
}

.academics-image img {
    width: 300px;
    height: 300px;
}