/* .contai .hobby-images .hobby1,
.hobby2,
.hobby3,
.hobby5,
.hobby6 {
    float: left;
    margin-left: 40px;
    margin-right: 40px;
}

.hobby-images .hobby1 img {
    padding: 12px;
}

.hobby-images .hobby2 img {
    padding: 12px;
    padding-top: 19px;
    padding-left: 25px;
}

.hobby-images .hobby3 img {
    padding-top: 30px;
}


.hobby-images .hobby1 p {
    margin: 0px;
}

.hobby-images .hobby4 {
    clear: left;
    float: left;
    margin-left: 40px;
}

.hobby-images .hobby4 img {
    padding: 12px;
    padding-top: 19px;
    padding-left: 15px;
}

.hobby-images .hobby5 img {
    padding-top: 15px;
    padding-left: 70px;
}

.hobby-images .hobby5 p {
    margin-left: 25px;
}

.hobby-images .hobby6 img {
    margin-top: 28px;
}

.hobby-images .hobby6 p {
    margin-left: 12px;
} */